.FREE-YSM-AUTHOR
.aionrs/skills
.github/tests
.obsidian
.reasonix
.trash
.venv
_Template
_achieve
_template
reasonix.toml
AGENTS.md
__pycache__
.vscode
.github/scripts/check&fix
.github/docs
Models/_test_rename
